body {
    background: #36D1DC;
    background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  
    background: linear-gradient(to left, #5B86E5, #36D1DC);
    width: auto;
    font-family: monospace;
}

.header-container {
    padding-top: 10px;
    font-size: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-under {
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 4px;    
}

.no-posts {
    padding-top: 65px;
}

.blogs-view {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.blog-container {
    margin-top: 30px;
    padding-bottom: 20px;
    min-width: 600px;
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}

.blog-container:nth-of-type(1) {
    margin-top: 20px;
}

.blog-image {
    margin-top: 20px;
}

.blog-title {
    width: 550px;
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-content {
    width: 550px;
}

.blog-post-footer {
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.blog-post-user {
    background-color: grey;
    color: white;
    font-weight: bold;
}

.blog-post-category {
    text-decoration: underline;
    text-decoration-color: white;
}

.blog-date {
    width: 550px;
    display: flex;
    justify-content: flex-end;
}

.blog-date-container {
    margin-top: 15px;
    border: .2px solid white;
    padding: 4px;
}

.blog-nav-bar {
    height: 45px;
    padding-top: 10px;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.blog-nav-item {
    cursor: pointer;
}

.blog-nav-item-active {
    text-decoration: underline;
    text-decoration-color: azure;
}

.login-container {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: space-around;
    padding-top: 125px;
}

.login-form-container {
    margin-top: 30px;
    padding-bottom: 20px;
    min-width: 500px;
    height: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}

.input-container {
    margin-top: 20px;
}

.form-submit-button {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
    background-color: lightgrey;
    height: 30px;
    align-items: center;
}

.mini-header-under {
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 2px;    
}

.form-login-error {
    color: orangered;
}

.mini-header-under-error {
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 2px;
    color: orangered;
}

.dashboard-pane {
    width: 100%;
}

td {
    text-align: center;
}

.content-td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.admin-blog-table, table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    margin-top: 40px;
    padding-top: 25px;
} 

.admin-blog-container {
    display: flex;
    justify-content: space-around;
}

.admin-add-blog-container {
    display: flex;
    justify-content: flex-end;
}

.admin-add-blog {
    cursor: pointer;
}

.modal-container {

}

.modal-title {
    padding: 40px 0 0 20px; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-close-icon {
    font-size: 30px;
    padding-right: 20px;
    padding-top: 12px;
    cursor: pointer;
}

.modal-form {
    padding: 15px;
}

.modal-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

.modal-drop-down-container {
    display: flex;
}

.modal-drop-down-item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-drop-down {
    margin: 0 20px 15px 0;
    padding: 5px;
    height: 30px;
}

.admin-submit-button {
    margin-top: 30px;
    display: flex;
    width: 95%;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
    background-color: lightgrey;
    height: 30px;
    align-items: center;
}

.modal-button {
    display: flex;
    justify-content: center;
}

.no-blog-message {
    display: flex;
    justify-content: center;
}

.cursor-td-cell {
    cursor: pointer;
} 